<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Navigator.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0D9558CF79E8E7B1A20BFA9BFD16F9D294E66BA4</string>
				<key>dateExpires</key>
				<string>05/05/24</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>75VQ6XD22A.mx.serviciosmubarqui.Navigator</string>
				<key>com.apple.developer.team-identifier</key>
				<string>75VQ6XD22A</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Navigator.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>084602a9-f611-431b-bb7a-86d81b666435</string>
				<key>dateExpires</key>
				<string>05/05/24</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: mx.serviciosmubarqui.Navigator</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>75VQ6XD22A</string>
				<key>name</key>
				<string>RENE CANO</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
